<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   package="com.ibanarriola.marvelheroes">

   <uses-permission android:name="android.permission.INTERNET" />

   <application
      android:allowBackup="true"
      android:icon="@mipmap/marvel"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true">
      <activity
         android:name="com.ibanarriola.marvelheroes.view.activity.HeroDetailActivity"
         android:configChanges="orientation|screenSize"
         android:label="@string/title_activity_hero_detail"
         android:theme="@style/AppTheme.NoActionBar"></activity>
      <activity android:name="com.ibanarriola.marvelheroes.view.activity.MainActivity"
         android:configChanges="orientation|screenSize">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
   </application>

</manifest>